@mixin GridIndeXproducts {
    display: grid;
    min-height: 150vh;
    grid-template-areas:
    "header header"
    "main    main"
    "footer footer" ;
    grid-template-rows: 20% 40% 20% ;
    align-items: center;
    align-content: space-around;
    
}