.tk {
  position: absolute;
  background-color: #3749ac;
  margin-top: 200px;
  margin-left: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-style: groove;
  font-family: 'Bebas Neue', cursive; }

footer {
  margin-left: 0.5em;
  background-color: #0dc2ff;
  max-height: 7em; }
  footer .letraFooter {
    font-family: 'Bebas Neue', cursive; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.indexProductGrid {
  display: grid;
  min-height: 150vh;
  grid-template-areas: "header header" "main    main" "footer footer";
  grid-template-rows: 20% 40% 20%;
  align-items: center;
  align-content: space-around; }
  .indexProductGrid header {
    grid-area: header;
    z-index: 2; }
  .indexProductGrid main {
    grid-area: main;
    background-color: rgba(220, 221, 207, 0.651); }
  .indexProductGrid footer {
    grid-area: footer;
    margin-top: 3em;
    margin-left: 0.5em;
    background-color: #0dc2ff;
    max-height: 7em; }
    .indexProductGrid footer .letraFooter {
      font-family: 'Bebas Neue', cursive; }

/* menu horizantal */
nav {
  display: flex;
  justify-content: space-evenly;
  background-color: darkblue;
  width: 100%;
  height: 80px;
  align-items: center; }
  nav ul {
    display: flex;
    flex-wrap: wrap; }
    nav ul li {
      display: inline-block;
      margin: 15px;
      font-size: 25px; }
      nav ul li a {
        text-decoration: none;
        font-family: 'Bebas Neue', cursive;
        color: #420fb8;
        background-color: #29a56b;
        border-radius: 10px;
        padding: 15px;
        transition: .7s; }
        nav ul li a:hover {
          color: red;
          transform: scale(1.8); }

/* mensaje lateral izquierdo en index */
.tk {
  width: 110px;
  color: white; }

/* h1 correspondiente a todas las paginas */
h1 {
  font-family: 'Bebas Neue', cursive !important;
  margin-left: 5px;
  font-size: 45px; }

/* imagen principal de index */
.compu {
  width: 90%;
  margin-top: 100px;
  margin-left: 6em;
  margin-right: 4em; }

/*estilos de box de la pagina productos
*/
.headerProduct {
  margin-top: 2.5em;
  margin-bottom: 9em; }

.mainProduct {
  margin-top: 1em;
  margin-bottom: 1em; }

.footerProduc {
  margin-top: 1em; }

.form {
  display: inline; }

.saltoDePaginaForm {
  display: block; }

/* contenedor padre e hijos de la pagina "productos" */
.conteinerProducts {
  width: 75%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: fit-content; }
  .conteinerProducts .caja {
    border: 5px solid #ddd8d8;
    width: 280px;
    height: 280px;
    background-color: blue;
    margin: 10px;
    padding: 0.3rem;
    text-align: center;
    color: white;
    font-size: 26px;
    font-family: 'Bebas Neue', cursive;
    border-radius: 30px; }
    .conteinerProducts .caja:hover {
      box-shadow: #d302d3 1px 1px 2px 2px;
      color: #d302d3;
      transform: scale(1.05, 1.05); }
    .conteinerProducts .caja .imgProduc {
      border-radius: 1em;
      margin: auto;
      margin-bottom: 0.5em;
      display: block;
      width: 5em; }

/* subtitulo de la pagina "sobre nosotros" */
h3 {
  margin-top: 70px; }

/* texto de la pagina "sobre nosotros" */
.nosotros {
  max-width: 50%;
  margin-left: 1em;
  margin-top: 3em;
  font-family: 'Bebas Neue', cursive;
  font-size: 2.5em; }

.nososTitulo {
  margin-top: 2em;
  margin-left: 0.5em;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 1.7em; }

main {
  background-color: rgba(206, 223, 179, 0.849); }

/* media queries para movil */
@media screen and (max-width: 814px) {
  .headerGrid {
    margin-top: 6em; }
  nav {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: fit-content;
    margin: 0px;
    margin-bottom: 0px; }
  nav ul li {
    padding: 19px;
    width: 500px;
    height: 20px; }
  main {
    margin-top: 1em; }
  a {
    font-size: 1em; }
  ul {
    padding: 15px; }
  .compu {
    margin-left: 1em;
    margin-top: 1px;
    width: 90%; }
  .footerGrid {
    margin-top: -20em;
    margin-left: 1px;
    width: 100%;
    max-height: 7em; }
  .mainproduct {
    margin-top: 8em;
    margin-bottom: 9em; }
  .footerProduc {
    margin-top: 1em; }
  .headerProduct {
    margin-top: -3em;
    margin-bottom: 30em; } }
